* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

@font-face{
    font-family: "Funny";
    src: url("Assets/Packaging\ Funny.woff") format("woff"), url("Assets/Packaging\ Funny.woff2") format("woff2") 
}

@font-face{
    font-family: "Light";
    src: url("Assets/ModernSans-Light.woff") format("woff"), url("Assets/ModernSans-Light.woff2") format("woff2") 
}


#voorGrond {     /* STYLING VOOR STARTKNOP START*/
    width: 100%;
    height: 100%;
    border: 0px solid red;
padding: 530px 350px;
font-size: 100px;
font-family: Light, serif;
color: white;
background-color: rgba(253, 228, 173, 0.603);
position: absolute;
left: 0%;
right: 40%; 
top: 0%;
bottom: 40%;
z-index: 8;
}

.navigatie {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: absolute;
    left: 0.7%;
    top: 0.7%;
}
nav a{
    color:white
}
nav a:hover{
    color: yellow;
}

.paginatitel {
    width: 640px;
    color: white;
    font-family: Funny, serif;
    font-size: 50pt;
    font-weight: normal;
    display: table-cell;
    text-align: center; 
}
    
.taal {
    width: 640px;
    color: rgb(255, 255, 255);
    font-family: Funny, serif;
    font-size: 30pt;
    font-weight: normal;
    text-align: center; 
}

.spelinfo {
    width: 640px;
    color: rgb(255, 255, 255);
    font-family: Light, serif;
    font-size: 20pt;
    font-weight: normal;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}


body {
    margin: 0px;
    height: 100vh;
    display: flex;
    background-image: url(Assets/Pictures/Kasteel.svg);
    background-size: 113%;
    background-repeat: no-repeat;
}

.memory-spel {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}



.memory-kaart {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style:preserve-3d;
    transition: transform .5s;
}

.memory-kaart:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-kaart.flip{
    transform: rotateY(180deg);
}

.voorkant,
.achterkant {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(250, 234, 200, 0.555);
    backface-visibility: hidden;
}
.voorkantText{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
    font-style: oblique;
    text-shadow: 0px 5px 2px rgb(165, 165, 165);
    padding-top: 170px;
    position: relative;
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.voorkant {
    transform: rotateY(180deg);
}
